body {
  font-family: 'Rye', cursive;
  color: #ccad00;
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("/background.jpg");
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: darkred;
}

#menu {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}


.flex-container {
height:100vh;
justify-content: center;
align-items: center;
flex-direction: column;
display: flex;
}

.box-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 20px;
  box-shadow: 10px 10px 8px black;
}

#crest {
padding-top: 30px;
width: 150px;
}

form  { display: table; text-align: center;     }
p     { display: table-row;  }
label { display: table-cell; padding:10px} 
select { display: table-cell;} 
input { display: table-cell; text-align: center;}

h2 {text-align: center;}
